        @charset "utf-8";
        * {
            box-sizing: content-box;
            /* outline: rgb(0, 0, 0) dotted thick; */
        }
        
        body {
            background-color: #0d9890;
            font-family: Noto Sans CJK TC;
        }
        
        @media screen and (min-width:1000px) and (max-width:1365px) {
            .container {
                max-width: 1366px;
            }
        }